//LISTLAR UCHUN MIXIN

@mixin list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

//LINK HAVOLALAR UCHUN MIXIN

@mixin link-unstyled  {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

//BUTTONLAR UCHUN MIXIN

@mixin site-button {
  background-image: $color-gradient;
  color: #fff;
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  border: none;
  border-radius: 22px;
  padding: 8px 36px 8px 33px;
  cursor: pointer;
}

//MEDIA SO`ROVLAR UCHUN MIXIN

@mixin breakpoint-down ($screen-width) {
  @media only screen and (max-width: $screen-width) {
    @content
  }
}