.service__box {}

.service {}

.service-title {
  font-family: "Public Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -0.7142857313156128px;
  text-align: left;
  color: $color-title;
  width: 411px;
  padding: 0;
  margin: 0;
  margin-top: 96px;
}

.service-text {
  width: 635px;
  font-family: "Public Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.28125px;
  text-align: left;
  color: $color-text;
  padding: 0;
  margin: 0;
  margin-top: 16px;
}

.service-list {
  @include list-unstyled;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.service-item {
  width: 255px;
  margin-top: 72px;
}

// .service-item~.service-item {
//   margin-left: 30px;
// }

.service-item-img {
  width: 72px;
  height: 72px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.service-item-title {
  font-family: "Public Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: -0.4285714328289032px;
  text-align: left;
  color: $color-title;
  padding: 0;
  margin: 0;
}

.service-item-text {
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.25px;
  text-align: left;
  color: $color-text;
  padding: 0;
  margin: 0;
  margin-top: 26px;
  margin-bottom: 94px;
}

@include breakpoint-down (965px) {
  .service-title {
    font-size: 32px;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }

  .service-text {
    font-size: 14px;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
  }

  .service-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

}

@include breakpoint-down (550px) {

  .service-title {
    width: 327px;
    margin-top: 120px;
    margin-bottom: 14px;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: 38px;
    letter-spacing: -0.5714285969734192px;
    text-align: center;
  }

  .service-text {
    font-family: "Public Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.234375px;
    text-align: center;
    width: 327px;
    margin-bottom: 56px;
  }

  .service-item {
    width: 327px;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .service-item-img {
    padding: 0;
    margin: 0;
  }

  .service-item-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 28px;
    letter-spacing: -0.3571428656578064px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 24px;
  }

  .service-item-text {
    width: 327px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.234375px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 56px;
  }

}